<div class="card">
    <div class="card-header">
        <p class="text-center text-info">Your Test Score</p>

    </div>
    <h2>Test Result</h2>
    <p>Your score: <b>@ViewBag.Marks</b> out of 55</p>
</div>