
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@model LoginUsers
<form asp-action="Login" method="post">
    <input asp-for="Email" /><br />
    <input asp-for="Password" type="password" /><br />
    <button type="submit">Login</button>
</form>
@if (ViewBag.Message != null)
{<p>@ViewBag.Message</p>}*@