
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginUsers

<h2>Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" value="@TempData["ResetEmail"]" />

    <div class="form-group">
        <label>New Password</label>
        <input asp-for="Password" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Update Password</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

