@{
    ViewData["Title"] = "Home Page";
}
<style>
    .center-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full height */
    }
</style>
<div class="center-dashboard">
    <h1 class="display-4">Welcome To The ERP PROJECT</h1>
</div>
